<div class="col-md-7 col-sm-12">
  <div class="row">
    <app-experience-core class="col-md-10 col-sm-12 experience__body experience__point" [dateFrom]="experience.BeginDate"
      [dateTo]="experience.EndDate" [currentEmployer]="experience.CurrentEmployer" [Employer]="experience.Employer"
      [Position]="experience.Position" [Responsibilities]="experience.Responsibilities" [Skills]="experience.Skills"></app-experience-core>
    <div class="col-md-2 col-sm-12 center-margins" *ngIf="experience.Projects.length > 0">
      <div [@flip]="showProjects ? 'selected' : 'deselected'" class="experience__projects__button" [ngClass]="{'experience__active': showProjects}"
        (click)="toggleProjects()">
        <i class="fas fa-list-ul"></i>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5 col-sm-12" @slide *ngIf="experience.Projects.length > 0 && showProjects">
  <div class="row">
    <div class="experience__projects__body">
      <div class="experience__content">
        <div class="experience__text__date">Projects</div>
        <div *ngFor="let project of experience.Projects">
          <app-projects [title]="project.Title" [role]="project.Role" [descrtiption]="project.Description" [result]="project.Result"></app-projects>
        </div>
      </div>
    </div>
  </div>
</div>
