<div class="row">

  <div class="item col-12 col-md-4">
    <a>
      <div class="item-inner">
        <h3 class="degree">Education</h3>
        <div class="education-body">
          Create, Update, Delete
        </div>
        <div class="time">ToDo: Number of edu</div>
        <div class="desc">
          Admin for education
        </div>
      </div>
    </a>
  </div>


  <div class="item col-12 col-md-4">
    <a [routerLink]="['Experience']">
      <div class="item-inner">
        <h3 class="degree">Experiences</h3>
        <div class="education-body">
          Create, Update, Delete
        </div>
        <div class="time">ToDo: Number of exp</div>
        <div class="desc">
          Admin for work experience
        </div>
      </div>
    </a>
  </div>

  <div class="item col-12 col-md-4">
    <a href="#">
      <div class="item-inner">
        <h3 class="degree">Skills</h3>
        <div class="education-body">
          Create, Update, Delete
        </div>
        <div class="time">ToDo: Number of skl</div>
        <div class="desc">
          Admin for work skills
        </div>
      </div>
    </a>
  </div>


</div>
