@import './main.scss';

.cvfooter__section {
  height: 370px;
  background-image: url('/assets/lake-gs.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
