.experience__header {
  color: var(--text-light-color);
  font-family: $font-family;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  padding-top: 35px;
  text-align: center;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.experience__timeline .experience__body {
  position: relative;
  margin-bottom: 45px;
}

.experience__point:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 70px;
  display: inline-block;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-top-right-radius: 50%;
  -o-border-top-left-radius: 50%;
  -o-border-bottom-right-radius: 50%;
  -o-border-bottom-left-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: var(--background-light-color);
}


.experience__point:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 76px;
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-top-right-radius: 50%;
  -ms-border-top-left-radius: 50%;
  -ms-border-bottom-right-radius: 50%;
  -ms-border-bottom-left-radius: 50%;
  -o-border-top-right-radius: 50%;
  -o-border-top-left-radius: 50%;
  -o-border-bottom-right-radius: 50%;
  -o-border-bottom-left-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: var(--text-light-color);
  z-index: 10;
}

.experience__timeline {
  border-left: 3px solid var(--text-light-color);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
}

.experience__body {
  border-radius: $border-radius-medium;
  border: $basic-border;
  background-color: var(--background-light-color);
  margin-bottom: 50px;
  display: table;
}

.experience__content {
  padding: 30px 30px 30px 30px;
}

.experience__text__date {
  color: var(--text-light-color-accent);
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-extra-small;
  line-height: 30px;
}

.experience__body__title {
  color: var(--text-light-color);
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: 30px;
}

.experience__body__position {
  color: var(--text-light-color-accent);
  font-family: $font-family;
  font-style: italic;
  font-weight: $font-weight-regular;
  line-height: 24px;
}

.experience__body__responsibility {
  font-family: $font-family;
  font-weight: $font-weight-light;
  line-height: 24px;
  color: var(--text-light-color)
}

.experience__projects__body {
  border-radius: $border-radius-medium;
  border: $basic-border;
  background-color: var(--background-light-color);
  width: 100%;

}

.experience__projects__contents {
  overflow: hidden !important;
  padding-bottom: 10px;
}

.experience__projects__header {
  color: var(--text-light-color);
  font-family: $font-family;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-light;
  line-height: 24px;
}

.experience__projects__title {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  line-height: 36px;
  font-size: $font-size-small;
  color: var(--text-light-color);
  cursor: pointer;
}

.experience__projects__position {
  color: var(--text-light-color-accent);
  font-family: $font-family;
  font-size: $font-size-extra-small;
  font-style: italic;
  font-weight: $font-weight-light;
  line-height: 24px;
}

.experience__projects__point {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-extra-small;
  color: var(--text-light-color);
}

.experience__projects__button {
  text-align: center;
  font-size: $font-size-medium;
  border: $basic-border;
  background: --background-light-color;
  color: var(--text-light-color);
  border-radius: $border-radius-large;
  width: 50px;
  height: 50px;
  margin: auto auto;
  transform-style: preserve-3d;
  cursor: pointer;
}

.center-margins {
  margin: auto auto
}

.experience__active {
  background: var(--background-strong-color);
  color: var(--text-strong-color);
}

.experience__projects__point-details {
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size-extra-small;
  color: var(--text-light-color)
}

.experience__body__point {
  border: $bold-border;
  background-color: var(--background-light-color);
}

@media (max-width: 767px) {
  .experience__body {
    margin-bottom: 20px;
  }

  .experience__projects__button {
    margin-bottom: 20px;
  }

  .experience__projects__body {
    margin-bottom: 20px;
  }
}
