.menu__background {
  background: var(--background-strong-color);
  min-height: 80px;
}

.menu__item {
  cursor: pointer;
  margin: auto 10px;
  color: var(--text-strong-color);
  font-family: $font-family;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-light;
}

.menu__item--selected {
  cursor: pointer;
  margin: auto 10px;
  color: var(--text-strong-color);
  font-family: $font-family;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-bold;
}

.menu__item--special {
  cursor: pointer;
  margin: auto 10px;
  color: var(--text-strong-color);
  font-family: $font-family;
  font-size: $font-size-extra-small;
  border: $bold-border;
  border-radius: $border-radius-large;
  padding: 5px 5px;
}

@media (max-width: 767px) {
  .menu__background {
    background: var(--background-strong-color);
    min-height: 70px;
  }

  .menu__item {
    margin-top: 5px;
  }

  .menu__item--selected {
    margin-top: 5px;
  }

  .menu__item--special {
    margin-top: 5px;
  }
}
