@import './main.scss';

.summary__section {
  height: 370px;
  background-image: url('/assets/wave-GS.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.summary__carousel {
  width: 100%;
  background-color: transparent !important;
  background: transparent;
}


.summary__elements {
  height: 100%;

}



.summary__row {
  height: 100%;
}

.summary__elemeny__body {
  padding: 30px;
  border-radius: $border-radius-medium;
  border: 1px dashed $border-main-color;
  text-align: center;
}

.summary_element__icon {
  color: $background-main-color;
  width: 100%;
  font-size: $font-size-large;
}

.summary_element__count {
  padding-top: 20px;
  color: $background-main-color;
  font-family: $font-family;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 24px;
  width: 100%;
}

.summary_element__name {
  padding-top: 15px;
  color: $background-main-color;
  font-family: $font-family;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-light;
  line-height: 24px;
  width: 100%;
}
