<div class="col-md-7 col-sm-12">
  <div class="row">
    <div class="col-md-10 col-sm-12 education__body">
      <div class="education__content education__point">
        <div class="education__text__date">{{displayDateTo|date}} - {{displayDateFrom|date}}</div>


        <h3 class="education__body__title">{{education.School}}</h3>
        <h3 class="education__body__position">{{education.Faculty}}</h3>
        <p>
          <span class="education__conent__strong">{{education.Level}} : </span><span class="education__conent__regular">{{education.Course}}</span><br>
          <span class="education__conent__strong">Final Grade : </span><span class="education__conent__regular">{{education.GradeEu}}</span><br>
          <span class="education__conent__strong">Thesis Title : </span><span class="education__conent__regular">{{education.Thesis}}</span>
        </p>

      </div>


    </div>
    <div class="col-md-2 col-sm-12 center-margins" *ngIf="education.Projects.length > 0">
      <div [@flip]="showProjects ? 'selected' : 'deselected'" class="education__projects__button" [ngClass]="{'education__active': showProjects}"
        (click)="toggleProjects()">
        <i class="fas fa-list-ul"></i>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 col-sm-12">
  <div class="row">
    <div @slide *ngIf="education.Projects.length > 0 && showProjects">
      <div class="education__projects__body">
        <div class="education__content">
          <div class="education__text__date">Projects</div>
          <div *ngFor="let project of education.Projects">
            <app-projects [title]="project.Title" [role]="project.Role" [descrtiption]="project.Description" [result]="project.Result"></app-projects>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
